/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

h1, h2 {
    color: #4CAF50; /* Verde */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"],
input[type="number"],
input[type="email"],
button {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus {
    border-color: #4CAF50;
    outline: none;
}

button {
    background-color: #4CAF50; /* Verde */
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049; /* Verde mais escuro */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    margin-left: 10px;
}

.hidden {
    display: none;
}

/* Estilo para formulários */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Responsividade */
@media (max-width: 600px) {
    input[type="text"],
    input[type="number"],
    input[type="email"],
    button {
        width: 100%;
    }
}
